/.metadata/
/.recommenders/
/PPS/bin/
/PPS.ORM/bin/
/PPS.ORM/target/
/PPS.Portal/build/
/PPS.Portal/target/
/PPS.UnitTest/bin/
/PPS.UnitTest/target/
/RemoteSystemsTempFiles/
/Servers/
/PPS/.settings/
/PPS.ORM/.settings/
/PPS.Portal/.settings/
/PPS.UnitTest/.settings/
