@charset "UTF-8";

@media screen and (min-width: 992px) and (max-width: 1199px) {
	#breadcrumb {
		display: block;
	}
	.modal-dialog.max-page {
		max-width: 992px!important;
	    margin-right: calc((100vw - 992px)/2);
	    margin-top: 40px;
	}
}