@charset "UTF-8";

body {
	margin-bottom: 0px !important;
}

body.sticky-footer .content-wrapper {
	min-height: calc(100vh - 56px);
}

.content-wrapper {
	margin: 0px;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.card a {
	text-decoration: none;
	color: black;
}

.dropdown-menu-right-position {
	left: auto;
	right: 0px;
}

.notification-zone {
	position: fixed;
	right: 20px;
	top: 100px;
	z-index: 1999;
}

.notification-zone .alert {
	max-width: 500px;
	min-width: 300px;
	word-wrap: BREAK-WORD;
	display: inline-block;
	float: right;
}

.notification-zone span.glyphicon {
	
}

/*title*/
#mainNav .navbar-brand {
	display: block;
	font-weight: 400;
	height: 40px;
	line-height: 35px;
	background: #00000050;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 1.0px 1px 1.0px rgba(255, 255, 255, 0.01), 0px 1.0px 2px 1.0px rgba(255, 255, 255, 0.01), 0px 1.0px 3px 1.0px rgba(255, 255, 255, 0.01);
	width: 40px;
	color: white;
}
#mainNav .navbar-brand:hover {
	box-shadow: 0px 1.1px 1px 1.2px rgba(255, 255, 255, 0.04), 0px 1.2px 2px 1.4px rgba(255, 255, 255, 0.04), 0px 1.4px 3px 1.6px rgba(255, 255, 255, 0.04);
}
.menu-backdrop{
	position: fixed;
    top: 55px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1010;
    background-color: #000;
}
.menu-backdrop.show{
	opacity: .7;
}
.menu {
	position: fixed;
    top: calc(-100vh);
    right: 0;
    bottom: 0;
    left: 0;
    outline: 0;
    transition: top 0.15s linear;
    z-index:1011;
    overflow-x: hidden;
    overflow-y: auto;
}
.menu.show {
	top: 70px;
}
.menu a{
	background-color: white!important;
}
.position-fix{
	position: fixed;
    width: calc(100vw);
}
.system-title {
	color: white!important;
    padding-left: 5px;
    padding-right: 20px;
    font-size: 15pt;
}
@media screen and (max-width: 350px) {
	.system-title {
     	display: none!important; 
	}
}
/*title*/

/*card part*/
.card-grid {
	
}

.card-item {
	display: inline-block;
	margin: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    min-height: 200px;
    overflow: hidden;
    width: 210px;
    z-index: 1;
    position: relative;
    border-radius: 2px;
    box-sizing: border-box;
}

.card-item:hover {
	cursor: pointer;
	box-shadow: 0px 1.3px 1px 1.6px rgba(0, 0, 0, 0.1), 0px 1.6px 2px 2.4px rgba(0, 0, 0, 0.1), 0px 2.4px 3px 2.8px rgba(0, 0, 0, 0.1);
}

.card-header {
	align-items: center;
	color: #000;
	display: flex;
	justify-content: stretch;
	line-height: normal;
	padding: 16px;
	perspective-origin: 165px 56px;
	transform-origin: 165px 56px;
	box-sizing: border-box;
	flex-grow: 1;
	border-bottom: 0px none;
	background-color: rgba(0, 0, 0, 0);
}

.card-body {
	position: absolute;
	bottom: 0px;
	text-align: right;
}
/*card image*/
.card-image.mdl-card {

}

.card-image.mdl-card.fixcard {

}
.card-event>.mdl-card__actions,
.card-image>.mdl-card__actions {
	height: 52px;
	padding: 16px;
	padding-left: 10px;
	padding-right: 10px;
	background: rgba(0, 0, 0, 0.5);
	font-size: 16px;
    line-height: normal;
    width: 100%;
    box-sizing: border-box;
}

.card-caption-body {
	color: #fff;
	/*font-size: 14px;*/
	font-size: 12px;
	font-weight: 500;
	font-weight: bold;
}
.image-legend {
	color: red;
	font-size: 8pt;
	text-align: center;
	display: block;
}
/*card image*/
/*card event*/
.card-event.mdl-card {
	width: 256px;
	height: 256px;
}

.card-event>.mdl-card__actions {
	border-color: rgba(255, 255, 255, 0.2);
}

.card-event>.mdl-card__title {
	align-items: flex-start;
}

.card-event>.mdl-card__title>h4 {
	margin-top: 0;
}
.card-icon {
	position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    width: 100%;
    /* height: 100%; */
    padding-top: 5px;
    /*opacity: .4;*/
}
.card-icon>i{
    font-size: 100pt;
}
/*
.card-event>.mdl-card__actions {
	display: flex;
	box-sizing: border-box;
	align-items: center;
}*/

.card-event>.mdl-card__actions>.material-icons {
	padding-right: 10px;
}

.card-event>.mdl-card__title, .card-event>.mdl-card__actions,
	.card-event>.mdl-card__actions>.mdl-button {
	color: #fff;
}
/*card event*/
/*Breadcrumb*/
#breadcrumb {
	list-style: none;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

#breadcrumb .icon {
	font-size: 14px;
}

#breadcrumb li {
	float: left;
}

#breadcrumb li a {
	color: #FFF;
	display: block;
	background: #4A4A4A;
	text-decoration: none;
	position: relative;
	height: 40px;
	line-height: 40px;
	padding: 0 10px 0 5px;
	text-align: center;
	margin-right: 23px;
}

#breadcrumb li:nth-child(even) a {
	background-color: #5a5a5a;
}

#breadcrumb li:nth-child(even) a:before {
	border-color: #5a5a5a;
	border-left-color: transparent;
}

#breadcrumb li:nth-child(even) a:after {
	border-left-color: #5a5a5a;
}

#breadcrumb li:first-child a {
	padding-left: 15px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 0 0 4px;
}

#breadcrumb li:first-child a:before {
	border: none;
}

#breadcrumb li:last-child a {
	padding-right: 15px;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0;
	border-radius: 0 4px 4px 0;
}

#breadcrumb li:last-child a:after {
	border: none;
}

#breadcrumb li a:before, #breadcrumb li a:after {
	content: "";
	position: absolute;
	top: 0;
	border: 0 solid #4A4A4A;
	border-width: 20px 10px;
	width: 0;
	height: 0;
}

#breadcrumb li a:before {
	left: -20px;
	border-left-color: transparent;
}

#breadcrumb li a:after {
	left: 100%;
	border-color: transparent;
	border-left-color: #4A4A4A;
}

#breadcrumb li a:hover {
	background-color: #9e9e9e;
}

#breadcrumb li a:hover:before {
	border-color: #9e9e9e;
	border-left-color: transparent;
}

#breadcrumb li a:hover:after {
	border-left-color: #9e9e9e;
}

#breadcrumb li a:active {
	background-color: #16a085;
}

#breadcrumb li a:active:before {
	border-color: #16a085;
	border-left-color: transparent;
}

#breadcrumb li a:active:after {
	border-left-color: #16a085;
}
/*Breadcrumb*/
/*loading*/
.loader-loc {
	position: absolute;
	z-index: 1998;
	background: #ffffff80;
	width: 100%;
	top: 0px;
	padding-left: calc(50vw - 60px);
	height: 100vh;
	padding-top: calc(50vh - 60px);
}

.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin { 
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

/*loading*/

/*modal*/
.modal-dialog.modal-notify.modal-pps .modal-header{
    background-color: #343a40c4!important;
}

@media screen and (max-width: 760px) {
	.modal-backdrop, .side-modal {
     	display: inherit!important; 
	}
}

/*modal*/

/*page*/
.pps-page {
	
}

.pps-page .pps-title {
	padding: 10px;
	border: 1px solid #AAA;
	border-radius: 5px;
	font-size: 15pt;
	font-weight: bold;
	margin: 5px;
	margin-bottom: 20px;
	text-align: left;
}

.pps-page .pps-contents {
	padding: 10px;
	border: 1px solid #AAA;
	border-radius: 5px;
	margin: 5px;;
}

.pps-page .pps-header {
	margin: 2px;
	padding: 5px;
	padding-left: 10px;
	border-left: 5px solid #343a40;
	font-size: 13pt;
}

.pps-page.max-page-1200 {
	max-width: 1200px;
	width: 100%;
	display: inline-block;
	text-align: -webkit-auto;
}

.pps-page .pps-body {
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 15px;
	margin-right: 10px;
}

.pps-page .pps-title span {
	border-left: 5px solid;
	padding-left: 10px;
}
/*page*/
.space-row {
	margin: 30px;
}

/*table_list*/
#tablelist_wrapper select {
	display: inherit !important;
}

#tablelist {
	width: 100%;
}

#tablelist_wrapper {
	padding: 10px;
}

.dataTables_length, .dataTables_filter {
	text-align: left !important;
}

.data-item-column {
	white-space: nowrap;
}

.dtr-details {
	width: 100%;
}

.dataTable tbody td {
	cursor: pointer;
}

.text-align-right {
	text-align: right;
}

.custom-button {
	width: 80px;
	padding: 10px;
}
/*table_list*/

/*group-form*/
.pps-group {
	margin-top: 1.0rem;
	margin-bottom: 0rem;
}

.pps-group-nomargin {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.pps-label {
	color: rgb(200, 200, 200) !important;
}

.pps-label.active {
	color: #000 !important;
}

.pps-input {
	padding: 10px !important;
}
.pps-image {
	padding: .25rem;
	background-color: #fff;
	border-radius: .25rem;
	max-width: 500px;
	max-height: 500px;
	text-align: center;
}

.pps-notice-label {
	margin: 10px;
	font-size: 11pt;
	margin-top: 30px;
	color: #b3b3b3;
}

input.form-control {
	box-sizing: border-box !important;
}

.error-focus {
	border-bottom-color: red !important;
}

.error-label {
	color: red;
	font-size: 8pt;
}

.pps-thumnail {
	width: 100%;
}

.select-row {
	margin-top: 20px;
}
/*group-form*/