@charset "UTF-8";

body {
	margin-bottom: 0px !important;
}

body.sticky-footer .content-wrapper {
	min-height: calc(100vh - 56px);
}

.content-wrapper {
	margin: 0px;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.card a {
	text-decoration: none;
	color: black;
}

/*.card:hover {
	border: 1px solid blue;
}*/
.notification-zone {
	position: absolute;
	right: 20px;
	top: 10px;
	z-index: 1009;
}

.notification-zone .alert {
	max-width: 500px;
	min-width: 300px;
	word-wrap: BREAK-WORD;
	display: inline-block;
	float: right;
}

.notification-zone span.glyphicon {
	/*margin-top: 20px;
    display: block;*/
	
}

/*card part*/
.card-grid {
	
}

.card-item {
	display: inline-block;
	margin: 5px;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.card-item:hover{
	border: 1px solid rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.card-body {
	position: absolute;
	bottom: 0px;
	text-align: right;
}
/*card image*/
.card-image.mdl-card {
	width: 256px;
	height: 256px;
}

.card-image>.mdl-card__actions {
	height: 52px;
	padding: 16px;
	background: rgba(0, 0, 0, 0.2);
}

.card-image__body {
	color: #fff;
	font-size: 14px;
	font-weight: 500;
}
/*card image*/
/*card event*/
.card-event.mdl-card {
	width: 256px;
	height: 256px;
}

.card-event>.mdl-card__actions {
	border-color: rgba(255, 255, 255, 0.2);
}

.card-event>.mdl-card__title {
	align-items: flex-start;
}

.card-event>.mdl-card__title>h4 {
	margin-top: 0;
}

.card-event>.mdl-card__actions {
	display: flex;
	box-sizing: border-box;
	align-items: center;
}

.card-event>.mdl-card__actions>.material-icons {
	padding-right: 10px;
}

.card-event>.mdl-card__title, 
.card-event>.mdl-card__actions,
.card-event>.mdl-card__actions>.mdl-button {
	color: #fff;
}
/*card event*/