@charset "UTF-8";

.card-columns{
    column-count: auto;
}

.my-card {
    width: 48%!important;
    float: left;
	margin-left: 1%;
	margin-right: 1%;
}

.card-header{
	padding: 0px;
	text-align:center;
}

.card-header-icon{
	font-size: 15vw;
}

@media (min-width: 576px) {
	.my-card {
	    width: 23%!important;
	    float: left;
	}
	.card-header-icon{
		font-size: 30vw;
	}
}

@media (min-width: 768px) {
	.my-card {
	    width: 23%!important;
	    float: left;
	}
	.card-header-icon{
		font-size: 17vw;
	}
}

@media (min-width: 1200px) {
  .my-card {
	    width: 18%!important;
	    float: left;
	}
	.card-header-icon{
		font-size: 13vw;
	}
}
