@charset "UTF-8";

.pps-group {
	margin-top: 1.0rem;
	margin-bottom: 0rem;
}

.pps-group-nomargin {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.pps-label {
	color: rgb(200, 200, 200) !important;
}

.pps-label.active {
	color: #000 !important;
}

.pps-input {
	padding: 10px !important;
}

.pps-image {
	padding: .25rem;
	background-color: #fff;
	/*border: 1px solid #dee2e6;*/
	border-radius: .25rem;
	max-width: 500px;
	max-height: 500px;
}

.pps-notice-label {
	margin: 10px;
	font-size: 11pt;
	margin-top: 30px;
	color: #b3b3b3;
}

input.form-control {
	box-sizing: border-box !important;
}

.error-focus {
	border-bottom-color: red !important;
}

.pps-thumnail {
	width: 100%;
}

/*
.pps-margin {
	margin-top: 10px;
	margin-left: 5px;
	margin-bottom: 10px;
	margin-right: 5px;
}

.pps-table-input {
	
}*/
/*
.pps-readonly-label.active {
	position: relative !important;
	display: inline-block;
	width: 25%;
	top: 5px !important;
	font-size: 1.25rem!important;
	-webkit-transform: translateY(0%)!important;
    transform: translateY(0%)!important;
}

.pps-readonly-label.active {
	font-size: auto;
}*/
/*
.pps-read-only-input {
	display: inline-block;
	width: 70%;
}*/
/*
.md-form.pps-read-only-form {
	margin: auto;
}*/