@charset "UTF-8";

body {
	margin-bottom: 0px !important;
}

body.sticky-footer .content-wrapper {
	min-height: calc(100vh - 56px);
}

.content-wrapper {
	margin: 0px;
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.card a {
	text-decoration: none;
	color: black;
}

/*.card:hover {
	border: 1px solid blue;
}*/
.notification-zone {
	position: absolute;
	right: 20px;
	top: 10px;
	z-index: 1009;
}

.notification-zone .alert {
	max-width: 500px;
	min-width: 300px;
	word-wrap: BREAK-WORD;
	display: inline-block;
	float: right;
}

.notification-zone span.glyphicon {
	/*margin-top: 20px;
    display: block;*/
	
}